<div class="container" [class.hidden]="hidden">
    <div class="keypad">
        <div class="code">
            <div class="text">
                <div class="dot" 
                *ngFor="let _ of codeDots; index as index"
                [class.opaque]="dotColored[index] || (!waiting && index <= curCode.length - 1) || (animating && litDot == index)"
                [class.correct]="dotColored[index] && litDot != index && passwordCorrect"
                [class.incorrect]="dotColored[index] && litDot != index && passwordIncorrect">
                </div>
            </div>
        </div>

        <div class="key" *ngFor="let key of keys"
        (click)="onKeyClicked(key)">
            <div class="text">{{ key }}</div>
        </div>
    </div>
</div>