<div class="output-container" #output>
    <div class="output" *ngFor="let line of outputText">{{ line || '&nbsp;' }}</div>
</div>

<div class="input-container">
    <div class="decoration">
        <span class="text">$</span>
    </div>

    <input autofocus #input
    [attr.type]="awaitingSensitive ? 'password' : 'text'"
    class="input"
    (blur)="input.focus()"
    [(ngModel)]="inputText"
    (keydown.Enter)="onCommandExecuted()">

    <div class="send" (click)="onCommandExecuted()">
        <span class="text">
            [&gt;]
        </span>
    </div>
</div>