<div class="output-container" #output>
    <div class="output" *ngFor="let line of outputText">{{ line || '&nbsp;' }}</div>
</div>

<div class="input-container">
    <div class="decoration">
        <span class="text">$</span>
    </div>

    <input #input
    type="text"
    class="input"
    autocorrect="off"
    autocapitalize="off"
    spellcheck="false"
    autocomplete="new-password"
    [class.sensitive]="awaitingSensitive"
    (focus)="autoScroll()"
    (blur)="input.focus()"
    [(ngModel)]="inputText"
    (keydown.Enter)="onCommandExecuted()">

    <div class="send" (click)="onCommandExecuted()">
        <span class="text">
            [&gt;]
        </span>
    </div>
</div>