@import "variables";
@import "mixins";

:host {
    overflow: hidden;

    .content {
        display: grid;
        grid-template-rows: $cell-size auto;

        @include mobile {
            grid-template-rows: $cell-size-mobile auto;
        }
    }
}