@import "variables";
@import "mixins";

:host {
    @include tile(false);

    position: relative;
    z-index: 999;
    box-shadow: 0 0 8px black;

    display: grid;
    grid-template-columns: min-content auto min-content;

    box-sizing: border-box;
    padding-left: 16px;

    user-select: none;
    font-size: $font-size;

    @include mobile {
        font-size: $font-size-mobile;
        background: $mobile-topbar-background;
    }

    > * {
        display: inline-block;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    .path {
        height: min-content;
        white-space: nowrap;

        .dir {            
            &:not(:last-child) { cursor: pointer };
            &:last-child {
                @include ellipsis;
                cursor: default;
            }
            
            text-transform: capitalize;

            @include not-mobile {
                &:hover:not(:last-child) {
                    text-decoration: underline;
                    color: hsl($accent-hue, 100%, 30%);
                }
            }
        }

        .delim {
            opacity: 0.5;
            margin: 0 18px;
        }

        .hint {
            opacity: 0.5;
        }
    }

    .fullscreen {
        @include tile-hover;

        grid-column: 3;
        width: $cell-size;
        height: $cell-size;

        @include mobile {
            width: $cell-size-mobile;
            height: $cell-size-mobile;
        }

        .fullscreen-inner {
            display: inline-block;
            position: relative;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
}