@import "variables";

@mixin page {
    position: absolute;
    left: 0;
    top: $cell-size;
    width: 100%;
    height: calc(100% - #{ $cell-size });
    font-size: 0;

    @include mobile {
        top: $cell-size-mobile;
        height: calc(100% - #{ $cell-size-mobile });
    }
}

@mixin tile($is-button) {
    box-sizing: border-box;

    background: linear-gradient(135deg,
        lighten(black, 14%) 0%,
        lighten(black, 10%) 100%);

    @if $is-button == true {
        @include tile-hover;
    }
}

@mixin tile-accept {
    color: hsl(120, 100%, 30%);

    @include not-mobile {
        cursor: pointer;

        &:hover {
            background: linear-gradient(135deg,
                hsl(120, 100%, 10%) 0%,
                hsl(120, 100%, 7%) 100%);
        }
    }

    &:active {
        background: linear-gradient(135deg,
            hsl(120, 100%, 8%) 0%,
            hsl(120, 100%, 5%) 100%);
    }
}

@mixin tile-reject {
    color: hsl(0, 100%, 45%);

    @include not-mobile {
        cursor: pointer;

        &:hover {
            background: linear-gradient(135deg,
                hsl(0, 100%, 13%) 0%,
                hsl(0, 100%, 10%) 100%);
        }
    }

    &:active {
        background: linear-gradient(135deg,
            hsl(0, 100%, 11%) 0%,
            hsl(0, 100%, 8%) 100%);
    }
}

@mixin tile-text {
    display: inline-block;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    user-select: none;
    font-size: $font-size;

    @include mobile {
        font-size: $font-size-mobile;
    }
}

@mixin tile-text-left {
    display: inline-block;
    position: relative;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);

    user-select: none;
    font-size: $font-size;

    @include mobile {
        font-size: $font-size-mobile;
    }
}

@mixin tile-hover {
    @include not-mobile {
        cursor: pointer;

        &:hover {
            background: linear-gradient(135deg,
                hsl($accent-hue, 80%, 14%) 0%,
                hsl($accent-hue, 80%, 9%) 100%);
        }
    }

    @include mobile {
        &:active {
            @include tile-active;
        } 
    }
}

@mixin tile-active {
    background: linear-gradient(135deg,
        hsl($accent-hue, 80%, 12%) 0%,
        hsl($accent-hue, 80%, 7%) 100%);
}

@keyframes loading {
    // 0%   { filter: brightness(100%); }
    // 50%  { filter: brightness(120%); }
    // 100% { filter: brightness(100%); }

    0%   { opacity: 1; }
    50%  { opacity: 0.5; }
    100% { opacity: 1; }
}
@mixin loading {
    // animation-delay: 800ms;
    // animation: loading 800ms ease infinite;
}

@mixin has-inputs {
    .placeholder {
        pointer-events: none;
        color: rgba(darken(white, 20%), 0.25) !important;
    }

    ::placeholder {
        color: rgba(darken(white, 20%), 0.25) !important;
    }
    
    input[type=text] {
        width: calc(100% - 32px);
        padding: 0;
        margin: 0;
        background: transparent;
        height: $cell-size;
    
        @include mobile {
            height: $cell-size-mobile;
        }
    }

    textarea {
        width: 100%;
        height: 100%;
        
        padding: 16px;
        box-sizing: border-box;
        
        background: transparent;
        
        border: 0;
        outline: 0;
    }
}

@mixin mobile {
    @media (max-width: 768px) {
        @content;
    }
}

@mixin not-mobile {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin ellipsis {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}