@import "variables";

@mixin page {
    position: absolute;
    left: 0;
    top: $navbar-height;
    width: 100%;
    height: calc(100% - #{ $navbar-height });
    font-size: 0;
}

@mixin tile($is-button) {
    box-sizing: border-box;

    background: linear-gradient(135deg,
        lighten(black, 14%) 0%,
        lighten(black, 10%) 100%);

    @if $is-button == true {
        @include tile-hover;
    }
}

@mixin tile-accept {
    color: hsl(120, 100%, 30%);

    @include not-mobile {
        cursor: pointer;

        &:hover {
            background: linear-gradient(135deg,
                hsl(120, 100%, 10%) 0%,
                hsl(120, 100%, 7%) 100%);
        }

        &:active {
            background: linear-gradient(135deg,
                hsl(120, 100%, 8%) 0%,
                hsl(120, 100%, 5%) 100%);
        }
    }
}

@mixin tile-reject {
    color: hsl(0, 100%, 45%);

    @include not-mobile {
        cursor: pointer;

        &:hover {
            background: linear-gradient(135deg,
                hsl(0, 100%, 13%) 0%,
                hsl(0, 100%, 10%) 100%);
        }

        &:active {
            background: linear-gradient(135deg,
                hsl(0, 100%, 11%) 0%,
                hsl(0, 100%, 8%) 100%);
        }
    }
}

@mixin tile-text {
    display: inline-block;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    user-select: none;
    font-size: 18px;
}

@mixin tile-text-left {
    display: inline-block;
    position: relative;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);

    user-select: none;
    font-size: 18px;
}

@mixin tile-hover {
    @include not-mobile {
        cursor: pointer;

        &:hover {
            background: linear-gradient(135deg,
                hsl($accent-hue, 80%, 14%) 0%,
                hsl($accent-hue, 80%, 9%) 100%);
        }

        &:active {
            @include tile-active;
        }
    }
}

@mixin tile-active {
    background: linear-gradient(135deg,
        hsl($accent-hue, 80%, 12%) 0%,
        hsl($accent-hue, 80%, 7%) 100%);
}

@mixin mobile {
    @media (max-width: 786px) {
        @content;
    }
}

@mixin not-mobile {
    @media (min-width: 786px) {
        @content;
    }
}

@mixin ellipsis {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}