$accent-hue: 190;
$mobile-topbar-background: #1F1F1F;
$highlight-color: hsl(190, 100%, 50%);

$font-size: 18px;
$font-size-mobile: 14px;
$mobile-ratio: $font-size-mobile / $font-size;
$cell-size: 72px;
$cell-size-mobile: $cell-size * $mobile-ratio;